.button {
  background: $blue;
  color: #ffffff;
  border: none;
  padding: $s-size;
  font-weight: 300;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.button--link {
  background: none;
}

.button-red {
  background: rgb(156, 7, 7);
}
